<div class="“container”">
  <mat-card>
    <!-- <p>
    </p> -->
    <mat-card-content>
      <mat-card-title translate>OHANADAILY</mat-card-title>
      <div *ngFor="let dashboardContent of userDash">
        {{ dashboardContent.avatar }} {{ dashboardContent.first_name }}
        {{ dashboardContent.last_name }} {{ dashboardContent.email }}
        {{ dashboardContent.birthday }} {{ dashboardContent.address }}
        {{ dashboardContent.user_type }} {{ dashboardContent.rank }} <br />
      </div>
      <div *ngFor="let specificContent of userContent">
        {{ specificContent.title }}
      </div>
    </mat-card-content>
  </mat-card>
</div>
