<!doctype html>
<html ng-app="ohanadaily">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>OhanaDaily - News Content Market Place</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/paper/bootstrap.min.css">
  <link rel="stylesheet" href="//code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css">
</head>
<body>

<div class="navbar navbar-default navbar-static-top">
    <div class="container">
      <ul class="nav navbar-nav">
        <a href="/" class="navbar-brand"><i class="ion-images"></i> OhanaDaily</a>
        <li><a href="/">Home</a></li>
        <!-- if user is not logged in then display Contents -->        
        <li class="routes" *ngIf=!user.loggedIn><a (click)="contents()" class="routes">Contents</a></li>
        <!-- if user is not logged in then display Seller Dashboard -->        
        <li class="routes" *ngIf=!user.loggedIn><a (click)="sellerDashboard()" class="routes">Seller Dashboard</a></li>        
        <!-- if user is not logged in then display Buyer Dashboard -->        
        <li class="routes" *ngIf=!user.loggedIn><a (click)="buyerDashboard()" class="routes">Buyer Dashboard</a></li>        
        <!-- if user is not logged in then signUp -->
        <li class="routes" *ngIf=!user.loggedIn><a (click)="signUp()" class="routes">Sign up</a></li>
        <!-- if user is logged in then logout -->
        <!-- <li class="routes" *ngIf="isLoggedIn()"><a ng-click="logout()" href="">Logout</a></li> -->
        <!-- if user is not logged in then signUp -->
        <!-- <li class="routes" *ngIf=!user.loggedIn><a (click)="login()" class="routes">Log In</a></li> -->

        <li class="logged-in" *ngIf="_isLoggedInAsObservable | async">
          Welcome, {{user.username}}
          <a href (click)="logout()">Log Out</a>
        </li>
        <li class="logged-out" *ngIf=!isLoggedInAsObservable()>
          <a href (click)="login()">Log In</a>
        </li>
        
      </ul>
    </div>
  </div>

<div ng-view></div>

</body>
</html>