<!doctype html>
<html ng-app="ohanadaily">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>OhanaDaily - News Content Market Place</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/paper/bootstrap.min.css">
  <link rel="stylesheet" href="//code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css">
</head>
<body>

<div class="navbar navbar-default navbar-static-top">
    <div class="container">
      <ul class="nav navbar-nav">
        <button class="navbar-brand" (click)="home()"><i class="ion-images"></i> OhanaDaily</button>
        <button (click)="home()">Home</button>
        <!-- if user is not logged in then do not display Contents -->        
        <button class="logged-in" *ngIf="_isLoggedInAsObservable | async" (click)="contents()">Contents</button>
        <!-- if user is not logged in then do not display Seller Dashboard -->        
        <button class="logged-in" *ngIf="_isLoggedInAsObservable | async" (click)="sellerDashboard()">Seller Dashboard</button>        
        <!-- if user is not logged in then do not display Buyer Dashboard -->        
        <button class="logged-in" *ngIf="_isLoggedInAsObservable | async" (click)="buyerDashboard()">Buyer Dashboard</button>        
        <!-- if user is not logged out then display sign up -->
        <button class="logged-out" *ngIf=!isLoggedInAsObservable() (click)="signUp()" class="routes">Sign up</button>
        <button class="logged-in" *ngIf="_isLoggedInAsObservable | async" (click)="logout()">Log Out</button>
        <button class="logged-out" *ngIf=!isLoggedInAsObservable() (click)="login()">Log In</button>
      </ul>
    </div>
  </div>

<div ng-view></div>

</body>
</html>