<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-title><span translate>Contents</span></ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-card text-center>
    <ion-card-content>
      <ion-card-title translate>APP_NAME</ion-card-title>
      <p>
        <ion-icon name="code"></ion-icon> <span translate>Version</span>
        {{ version }}
      </p>
      <div *ngFor="let content of contents">
        {{ content.title }} <br />

        {{ content.file_location }}
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
