<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-title><span translate>Preferred Sellers</span></ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-card text-center>
    <ion-card-content>
      <ion-card-title translate>Preferred Sellers</ion-card-title>
      <div *ngFor="let user of prefSellers">
        Welcome {{ user.buyer_id.first_name }}
        {{ user.buyer_id.last_name }}!<br />
        Your Preferred Sellers: {{ user.seller_id.first_name }}
        {{ user.seller_id.last_name }}
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
