<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-title><span translate>Add Content</span></ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-bounce>
  <div class="register-background"></div>
  <ion-grid no-padding>
    <ion-row justify-content-center no-padding>
      <ion-col col-sm-8 col-lg-6 col-xl-4 align-self-center no-padding>
        <div class="register-header" text-center>
          <h1>Add Content</h1>
          <ion-list *ngIf="isWeb" color="primary" no-lines no-margin>
            <ion-item color="primary"> <ion-label> </ion-label> </ion-item>
          </ion-list>
        </div>
        <div class="register-container">
          <form (ngSubmit)="submitForm()" [formGroup]="contentForm" novalidate>
            <div
              padding
              ion-text
              color="danger"
              [hidden]="!error || contentForm.dirty"
              translate
            >
              Username or password incorrect.
            </div>
            <ion-list>
              <!-- Content Type -->
              <ion-item>
                <ion-label floating>{{ 'Content Type' | translate }}</ion-label>
                <ion-input
                  type="text"
                  formControlName="content_type"
                  [(ngModel)]="formData.content_type"
                  autocomplete="type"
                ></ion-input>
              </ion-item>
              <div
                padding
                [hidden]="
                  contentForm.controls.content_type.valid ||
                  contentForm.controls.content_type.untouched
                "
                ion-text
                color="danger"
                translate
              >
                Content Type is required
              </div>
              <div>
                <!-- Content By THIS IS TODO!!!!! -->
                <ion-item>
                  <ion-label floating>{{ 'Content By' | translate }}</ion-label>
                  <ion-input
                    type="text"
                    formControlName="user_id"
                    [(ngModel)]="formData.user_id"
                    autocomplete="user_id"
                  ></ion-input>
                </ion-item>
                <div
                  padding
                  [hidden]="
                    contentForm.controls.user_id.valid ||
                    contentForm.controls.user_id.untouched
                  "
                  ion-text
                  color="danger"
                  translate
                >
                  Content By is required
                </div>
              </div>
              <!-- Name -->
              <ion-item>
                <ion-label floating>{{ 'Name' | translate }}</ion-label>
                <ion-input
                  type="text"
                  formControlName="name"
                  [(ngModel)]="formData.name"
                  autocomplete="name"
                ></ion-input>
              </ion-item>
              <div
                padding
                [hidden]="
                  contentForm.controls.name.valid ||
                  contentForm.controls.name.untouched
                "
                ion-text
                color="danger"
                translate
              >
                Name or Title is required
              </div>
              <!-- Description -->
              <ion-item>
                <ion-label floating>{{ 'Description' | translate }}</ion-label>
                <ion-input
                  type="text"
                  formControlName="description"
                  [(ngModel)]="formData.description"
                  autocomplete="current-description"
                ></ion-input>
              </ion-item>
              <div
                padding
                [hidden]="
                  contentForm.controls.description.valid ||
                  contentForm.controls.description.untouched
                "
                ion-text
                color="danger"
                translate
              >
                Description is required
              </div>
              <!-- Price   -->
              <ion-item>
                <ion-label floating>{{ 'Price' | translate }}</ion-label>
                <ion-input
                  type="number"
                  formControlName="price"
                  [(ngModel)]="formData.price"
                  autocomplete="price"
                ></ion-input>
              </ion-item>
              <div
                padding
                [hidden]="
                  contentForm.controls.price.valid ||
                  contentForm.controls.price.untouched
                "
                ion-text
                color="danger"
                translate
              >
                Price is required
              </div>
              <!-- Category -->
              <ion-item>
                <ion-label floating>{{ 'Category' | translate }}</ion-label>
                <ion-input
                  type="text"
                  formControlName="category"
                  [(ngModel)]="formData.category"
                  autocomplete="category"
                ></ion-input>
              </ion-item>
              <div
                padding
                [hidden]="
                  contentForm.controls.category.valid ||
                  contentForm.controls.category.untouched
                "
                ion-text
                color="danger"
                translate
              >
                Category is required
              </div>
              <!-- Thumb Image -->
              <ion-item>
                <ion-label floating>{{ 'Thumb Image' | translate }}</ion-label>
                <ion-input
                  type="text"
                  formControlName="thumb_img"
                  [(ngModel)]="formData.thumb_img"
                  autocomplete="thumb_img"
                ></ion-input>
              </ion-item>
              <div
                padding
                [hidden]="
                  contentForm.controls.thumb_img.valid ||
                  contentForm.controls.thumb_img.untouched
                "
                ion-text
                color="danger"
                translate
              >
                Thumb Image is required
              </div>
              <!-- Media File -->
              <ion-item>
                <ion-label floating>{{ 'Media File' | translate }}</ion-label>
                <ion-input
                  type="text"
                  formControlName="media_file"
                  [(ngModel)]="formData.media_file"
                  autocomplete="media_file"
                ></ion-input>
              </ion-item>
              <div
                padding
                [hidden]="
                  contentForm.controls.media_file.valid ||
                  contentForm.controls.media_file.untouched
                "
                ion-text
                color="danger"
                translate
              >
                Media File is required
              </div>
            </ion-list>
            <div padding-horizontal>
              <button
                type="submit"
                [disabled]="contentForm.invalid"
                ion-button
                color="primary"
                block
              >
                <span translate>Add</span>
              </button>
            </div>
          </form>
        </div>
      </ion-col>
    </ion-row> </ion-grid
  ><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</ion-content>
