<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-title><span translate>Ohana Daily</span></ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card text-center>
    <ion-card-content>
      <div *ngFor="let content of ohana">
        <a href="content/{{ content.id }}">
          <p>{{ content.title }}</p>
          <img src="/assets/{{ content.thumb_img }}" />
          <p>{{ content.description }}</p>
          <br />
          <br />
        </a>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
