<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-title><span translate>Ohana Daily</span></ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card text-center>
    <ion-card-content>
      <!-- <div *ngFor="let content of ohana">
        <ion-icon name="contact"></ion-icon>
        <a href="/user-profiles">{{ content.user_id.first_name }}</a>: {{ content.title }} ( ${{ content.bid }} )
        <a href="content/{{ content.id }}">
          <a href="/assets/{{ content.thumb_img }}">
            <img src="/assets/{{ content.thumb_img }}" />
          </a>
        </a>
        {{ content.description }}
        <a href="transactions">
          <h2>Buy Now! ( {{ content.bid }} )</h2>
        </a>
        <br /><br /><br />
      </div> -->

      <!-- /////////////////////////// -->
      <div *ngFor="let content of ohana">
        <article>
          <header class="flexed relative padding4">
            <a class="flexed">
              <ion-icon name="contact"></ion-icon>
              <a href="/user-profiles/{{ content.user_id }}">{{
                content.user_id.first_name
              }}</a>
            </a>
            <span class="post-time">{{
              content.created_at | date: 'shortDate'
            }}</span>
          </header>
          <div class="post-image-holder">
            <img
              class="post-pic"
              src="/assets/{{ content.thumb_img }}"
              alt=""
            />
          </div>
          <div class="flexed relative padding4">
            <div id="idContent">{{ content.id }}</div>
            Name: {{ content.name }}<br />
            Description: {{ content.description }}<br />
            Category: {{ content.category }}<br />
            Price: {{ content.price }}<br /><br />
            <button type="submit" (click)="deleteContentById()">Delete</button>
            <!-- <a href="/api/content/deletestory/{{content.id}}" (click)="deleteContentById()">Delete</a> -->
          </div>
        </article>
      </div>
    </ion-card-content>
  </ion-card>
  <br /><br /><br /><br /><br /><br />
</ion-content>
