<ion-header>
  <ion-navbar>
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-title>
      <a routerLink="/">
        <ion-icon name="home"></ion-icon>
        <!-- <span translate>Register</span> -->
      </a>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-bounce>
  <div class="register-background"></div>
  <ion-grid no-padding>
    <ion-row justify-content-center no-padding>
      <ion-col col-sm-8 col-lg-6 col-xl-4 align-self-center no-padding>
        <!-- <div class="register-header" text-center>
          <ion-list *ngIf="isWeb" color="primary" no-lines no-margin>
            <ion-item color="primary">
              <ion-label><span translate>Language</span></ion-label>
              <ion-select
                [ngModel]="currentLanguage"
                (ngModelChange)="setLanguage($event)"
                interface="popover"
              >
                <ion-option
                  *ngFor="let language of languages"
                  [value]="language"
                  >{{ language }}</ion-option
                >
              </ion-select>
            </ion-item>
          </ion-list>
        </div> -->
        <div class="register-container">
          <form (ngSubmit)="register()" [formGroup]="registerForm" novalidate>
            <div
              padding
              ion-text
              color="danger"
              [hidden]="!error || registerForm.dirty"
              translate
            >
              Username or password incorrect.
            </div>
            <ion-list>
              <!-- First name -->
              <ion-item>
                <ion-label floating>{{ 'First Name' | translate }}</ion-label>
                <ion-input
                  type="text"
                  formControlName="first_name"
                  autocomplete="first_name"
                ></ion-input>
              </ion-item>
              <div
                padding
                [hidden]="
                  registerForm.controls.first_name.valid ||
                  registerForm.controls.first_name.untouched
                "
                ion-text
                color="danger"
                translate
              >
                First Name is required
              </div>
              <!-- Last Name -->
              <ion-item>
                <ion-label floating>{{ 'Last Name' | translate }}</ion-label>
                <ion-input
                  type="text"
                  formControlName="last_name"
                  autocomplete="last_name"
                ></ion-input>
              </ion-item>
              <div
                padding
                [hidden]="
                  registerForm.controls.last_name.valid ||
                  registerForm.controls.last_name.untouched
                "
                ion-text
                color="danger"
                translate
              >
                Last Name is required
              </div>
              <!-- Email -->
              <ion-item>
                <ion-label floating>{{ 'Email' | translate }}</ion-label>
                <ion-input
                  type="text"
                  formControlName="email"
                  autocomplete="email"
                ></ion-input>
              </ion-item>
              <div
                padding
                [hidden]="
                  registerForm.controls.email.valid ||
                  registerForm.controls.email.untouched
                "
                ion-text
                color="danger"
                translate
              >
                Email is required
              </div>
              <!-- Password -->
              <ion-item>
                <ion-label floating>{{ 'Password' | translate }}</ion-label>
                <ion-input
                  type="password"
                  formControlName="password"
                  autocomplete="current-password"
                ></ion-input>
              </ion-item>
              <div
                padding
                [hidden]="
                  registerForm.controls.password.valid ||
                  registerForm.controls.password.untouched
                "
                ion-text
                color="danger"
                translate
              >
                Password is required
              </div>
              <!-- Birthdate -->
              <ion-item>
                <ion-label floating>{{ 'Birthdate' | translate }}</ion-label>
                <ion-input
                  type="text"
                  formControlName="birthdate"
                  autocomplete="birthdate"
                ></ion-input>
              </ion-item>
              <div
                padding
                [hidden]="
                  registerForm.controls.birthdate.valid ||
                  registerForm.controls.birthdate.untouched
                "
                ion-text
                color="danger"
                translate
              >
                Birthdate is required
              </div>
              <!-- Address   -->
              <ion-item>
                <ion-label floating>{{ 'Address' | translate }}</ion-label>
                <ion-input
                  type="text"
                  formControlName="address"
                  autocomplete="address"
                ></ion-input>
              </ion-item>
              <div
                padding
                [hidden]="
                  registerForm.controls.address.valid ||
                  registerForm.controls.address.untouched
                "
                ion-text
                color="danger"
                translate
              >
                Address is required
              </div>
              <!-- User type -->
              <ion-item>
                <ion-label floating>{{ 'User Type' | translate }}</ion-label>
                <ion-input
                  type="text"
                  formControlName="user_type"
                  autocomplete="user_type"
                ></ion-input>
              </ion-item>
              <div
                padding
                [hidden]="
                  registerForm.controls.user_type.valid ||
                  registerForm.controls.user_type.untouched
                "
                ion-text
                color="danger"
                translate
              >
                User Type is required
              </div>
              <!-- Rank     -->
              <ion-item>
                <ion-label floating>{{ 'Rank' | translate }}</ion-label>
                <ion-input
                  type="text"
                  formControlName="rank"
                  autocomplete="rank"
                ></ion-input>
              </ion-item>
              <div
                padding
                [hidden]="
                  registerForm.controls.rank.valid ||
                  registerForm.controls.rank.untouched
                "
                ion-text
                color="danger"
                translate
              >
                Rank is required
              </div>
              <!-- Avatar -->
              <ion-item>
                <ion-label floating>{{ 'Avatar' | translate }}</ion-label>
                <ion-input
                  type="text"
                  formControlName="avatar"
                  autocomplete="avatar"
                ></ion-input>
              </ion-item>
              <div
                padding
                [hidden]="
                  registerForm.controls.avatar.valid ||
                  registerForm.controls.avatar.untouched
                "
                ion-text
                color="danger"
                translate
              >
                Avatar is required
              </div>
            </ion-list>
            <div padding-horizontal>
              <button
                type="submit"
                [disabled]="registerForm.invalid"
                ion-button
                color="primary"
                block
              >
                <span translate>Register</span>
              </button>
            </div>
          </form>
        </div>
      </ion-col>
    </ion-row> </ion-grid
  ><br /><br /><br /><br /><br /><br />
</ion-content>
